@font-face {
  font-family: "proxima_novaregular";
  src: url("/font/proximanova-reg-webfont.woff2") format("woff2"),
    url("/font/proximanova-reg-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "proxima_novaregular";
}
.med-logos {
  width: 50%;
}

.center {
  margin: auto;
  display: block;
}

.wrapper {
  max-width: 1000px;
  margin: auto;
}

img {
  width: 100%;
}

li {
  margin-bottom: 0.2em;
}

.main-content {
  display: flex;
  flex-flow: row wrap;
}

.main-content section {
  width: 100%;
}

p {
  font-size: 18px;
}

@media only screen and (min-width: 600px) {
  .main-content section {
    width: 42%;
    padding: 4%;
  }
}
