body {
  font-family: "adobe-clean", sans-serif;
}

.med-logos {
  width: 50%;
}

.center {
  margin: auto;
  display: block;
}
.wrapper {
  max-width: 1000px;
  margin: auto;
}

img {
  width: 100%;
}

.main-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.main-content section {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .main-content section {
    width: 46%;
    padding: 2%;
  }
}
