@font-face {
  font-family: "proxima_novaregular";
  src: url("/font/proximanova-reg-webfont.woff2") format("woff2"),
    url("/font/proximanova-reg-webfont.woff") format("woff"),
    url("/font/ProximaNova-Reg.otf") format("opentype"),
    local("Proxima Nova Regular");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "proxima_novaregular", sans-serif;
}

p {
  font-size: 18px;
}

img,
video {
  width: 100%;
}

li {
  margin-bottom: 0.2em;
}
.med-logos {
  width: 50%;
  margin-bottom: 3%;
}

.two img {
  margin: 0 25%;
}

.wrapper {
  max-width: 1000px;
  margin: auto;
}

.main-content {
  display: flex;
  flex-flow: row wrap;
}

.main-content section {
  width: 100%;
  padding-top: 4%;
}

/* styling for slider */

.slideshow-container img {
  max-height: 398px;
  max-width: 998px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  border: 1px solid #dbecf3;
}

.slideshow-container {
  max-height: 400px;
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

.slick-prev,
.slick-next,
.slick-prev:hover,
.slick-next:hover,
.slick-prev:focus,
.slick-next:focus {
  background: #dbecf3;
  height: 100%;
  width: 4%;
}

@media only screen and (min-width: 700px) {
  .wrapper {
    width: 675px;
  }
  .slideshow-container,
  .main-content {
    width: 100%;
    max-width: 675px;
  }

  .slideshow-container img {
    max-height: 398px;
    max-width: 998px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    border: 1px solid #dbecf3;
  }

  .slick-next {
    right: -24px;
  }

  .slick-prev {
    left: -24px;
  }

  .main-content section {
    flex-direction: column;
    width: 44%;
  }

  .one {
    margin-right: 10%;
  }
}

@media only screen and (min-width: 1000px) {
  .wrapper {
    width: 900px;
    margin: auto;
  }
  .slideshow-container,
  .main-content {
    width: 100%;
    max-width: 900px;
  }
  .main-content {
    flex-direction: row wrap;
  }

  .main-content section {
    flex-direction: column;
    width: 44%;
  }

  .one {
    margin-right: 10%;
  }

  .slick-next {
    right: -36px;
  }

  .slick-prev {
    left: -36px;
  }
}

@media only screen and (min-width: 1100px) {
  .wrapper {
    width: 1000px;
    margin: auto;
  }

  .slideshow-container,
  .main-content {
    width: 100%;
    max-width: 1000px;
  }

  .main-content section {
    flex-direction: column;
    width: 44%;
  }

  .one {
    margin-right: 10%;
  }

  .slick-next {
    right: -40px;
  }

  .slick-prev {
    left: -40px;
  }
}
